[Desktop Entry]
Name=Space Nerds in Space
GenericName=Space Nerds in Space
Comment=Networked spaceship bridge simulator
Exec=AppRun
Icon=icon.svg
Terminal=true
Type=Application
Categories=Game;
