[Desktop Entry]
Name=Space Nerds in Space
GenericName=Space Nerds in Space
Comment=Networked spaceship bridge simulator
Exec=Space_Nerds_in_Space-x86_64.AppImage
Icon=icon.svg
Terminal=true
Type=Application
Categories=Game;
